.title {
	font-family: "Montserrat";
	font-size: rem(56);
	font-weight: bold;
	line-height: 1.14;
	
	@media (max-width: $md2+px) {
		font-size: 3rem;
	}
	@media (max-width: $md3+px) {
		font-size: 2.5rem;
	}

}
