//<Input >====================================================================================================
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&__focus {
	}
	&__error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</Input >====================================================================================================
