.horror {
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/horror-bg.png);
		background-position: bottom right;
		background-size: 1046px 907px;
		background-repeat: no-repeat;
	}
	&__inner {
		margin-bottom: rem(60);
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 32px;
	}

	&__card {
		color: rgba($mainColor, $alpha: 0.6);
		text-align: center;
		padding: 18px;
		flex: 0 1 calc((1152px / 3) - 32px);
		&:hover {
			color: #fff;
			.horror__item-logo {
				background: rgba(205, 57, 57, 0.2);
				color: $lightRed;
			}
		}
	}
	&__card--social {
		margin-bottom: 20px;
	}
	&__item-logo {
		display: inline-block;
		padding: 12px 44px;
		background-color: #fff;
		border-radius: 42px;
		margin-bottom: rem(24);
		background: rgba(205, 57, 57, 0.2);
		transition: all 0.5s ease 0s;
		font-size: 16px;
	}
	&__item-icon {
		font-size: 20px;
	}
	&__item-title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: rem(24);
	}

	&__item-text {
		font-size: rem(15);
		transition: all 0.5s ease 0s;
		line-height: 2;
	}
}

.horror-body {
	&__inner {
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(360deg, #171717 -2.5%, #010101 95.03%);
		border-radius: 12px;
		margin-bottom: rem(70);
	}

	&__photo {
		width: 45%;

		position: relative;
		display: flex;
		justify-content: center;
		&::before {
			@extend %icons;
			content: "\e908";
			position: absolute;
			color: $lightRed;
			font-size: 200px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__img {
		max-width: 100%;
		height: auto;
	}
	&__content,
	&__photo {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__photo{
		align-items: center;
	}
	&__content {
		width: 55%;
		padding: rem(64) rem(20) 0 rem(11);
	}

	&__title {
		margin-bottom: rem(22);
	}

	&__sub-title {
		font-size: rem(18);
		margin-bottom: rem(23);
		line-height: 1.4;
	}

	&__main {
		display: inline-grid;
		grid-template: 1fr auto 2fr/ 1fr 1fr;
		gap: rem(22) 0;
	}

	&__main-title {
		font-size: rem(29);
		display: flex;
		align-items: center;
	}
	&__main-subtitle {
		order: 3;

		font-size: rem(18);

	}
	&__descriptions {
		order: 5;
	}
	&__description {
		font-size: 1rem;
		line-height: 1.4;
		&:first-child {
			margin-bottom: rem(13);
		}
	}
	&__quantity {
		order: 2;
	}
	&__quantity-icon {
		font-size: rem(14);
		color: $lightRed;
		padding: rem(14) rem(32);
		background: rgba(205, 57, 57, 0.1);
		border-radius: 42px;
		max-width: 140px;
		@extend %flex-center;
	}

	&__action {
		order: 4;
		grid-row: span 2;
	}

	&__btn {
		position: relative;
		z-index: 2;
		padding: 16px 72px;
		border: 1.07496px solid rgba(255, 255, 255, 0.11);
		@include button($red, $mainColor);

		&::before {
			@extend %icons;
			content: "\e903";
			position: absolute;
			display: block;
			z-index: -1;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);

			font-size: 55px;
			color: $red;
		}
		&:hover {
			&:before {
				color: darken($red, 10%);
			}
		}
		&:focus {
			&:before {
				color: darken($red, 15%);
			}
		}
		&:active {
			&:before {
				color: darken($red, 25%);
			}
		}
	}
}
@media (max-width: $md1+px) {
	.horror-body {
		&__title {
			padding-right: 0;
		}
		&__content {
			padding: 2rem 1rem 2rem 0;
		}
	}
}
@media (max-width: $md2+px) {
	.horror-body {
		&__main {
			grid-template-rows: 1fr auto 1fr 1fr;
			gap: rem(13) 0;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__sub-title {
			margin-bottom: 1.1rem;
		}
		&__content {
			padding: 1rem 2rem 3.6rem 0;
		}

		&__descriptions,
		&__main-subtitle,
		&__action {
			grid-column: span 2;
		}

		&__descriptions {
			grid-row: 3/4;
		}

		&__main-title {
			font-size: 1.3rem;
		}
		&__main-subtitle {
			grid-row: 2/3;
		}

		&__action {
			grid-row: span 1;
			text-align: center;
		}
		&__quantity {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
@media (max-width: $md3+px) {
	.horror {
		&::before {
			background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/horror-bg-small.png);
			background-size: 100% 561px;
		}
	}
	.horror-body {
		&__inner {
			flex-direction: column;
		}
		&__photo,
		&__content {
			width: 100%;
			border-radius: rem(12);
		}
		&__content {
			padding: rem(21) rem(21) rem(35) rem(24);
		}
		&__photo {
			order: 1;
			padding: 3rem 0 0 0;
			position: relative;
			&::before {
				font-size: rem(250);
			}
			background-attachment: fixed;
		}
		&__main {
			gap: rem(22) 0;
		}

		&__title {
			margin-bottom: rem(15);
		}
		&__sub-title {
			font-size: 1.125rem;
		
		}
	}
}
@media (max-width: $md4+px) {
	.horror-body {
		&__photo {
			&::before {
				font-size: rem(180);
			}
		}
	}
}
